# Environment & Environment Variables
.env
.env.*
*.env

# Secrets, Service Accounts & API Keys
*.json
!pubspec.json
!package.json
!tsconfig.json
*.pem
*.key
*.p12

# Database & Celery
*.sqlite3
*.sqlite
*.db
celerybeat-schedule
celerybeat-schedule.*
celerybeat.pid

# Python & Virtual Environments
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
ENV/

# IDE & Tooling
.idea/
.vscode/
*.swp

# OS & Logs
.DS_Store
Thumbs.db
*.log
